html {
  font-size: 10;
  background-color: lightpink;
  text-align: center;
}

#title {
  font-size: 2rem;
  font-style: bold;
}

p {
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
}

.dot {
  fill: red;
  opacity: .4;
  border-style: solid black 1px;
}

#tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 2px;
  font: 1rem serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

#legend {
  background: lightsteelblue;
  height: auto;
  width: auto;
}

svg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto auto auto;
}

#y-axis {
  font-size: .5rem;
  width: auto;
  padding: 2px;
}

.y-title {
  color: black;
  font-size: 1.2rem;
  padding: 3px;
}

#footer {
  background: #fff7f8;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
  font-size: 1rem;

}
