html {
  font-size: 10;
  background-color: lightpink;
  text-align: center;
}

#title {
  font-size: 2rem;
  font-style: bold;
}

p {
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
}

.dot {
  fill: red;
  opacity: .4;
  border-style: solid black 1px;
}

#tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

#legend {
  width: 120px;
  height: 40px;
  padding: 2px;
  background: lightgrey;
}

svg {
  margin: auto;
}

#y-axis {
  font-size: .5rem;
}

.y-title {
  color: black;
  font-size: 1.2rem;
}
